pipeline/pl_web_data.json
{
	"name": "pl_web_data",
	"properties": {
		"activities": [
			{
				"name": "Web_data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datausa.io/api/data?drilldowns=Nation&measures=Population"
				}
			},
			{
				"name": "get_web_data",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "get_data",
					"value": {
						"value": "@activity('Web_data').output.data",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_value",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_web_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('get_data')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append_item",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "item",
								"value": {
									"value": "@item()['ID Nation']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append_item",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "output",
								"value": {
									"value": "@variables('item')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"get_data": {
				"type": "Array"
			},
			"id": {
				"type": "Array"
			},
			"item": {
				"type": "Array"
			},
			"output": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-24T16:30:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}